<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title><!-- @if NODE_ENV == 'DEVELOPMENT' --> DEV<!-- @endif -->
		<!-- @if NODE_ENV == 'PRODUCTION' --> PROD<!-- @endif -->: Eventer</title>
	<link rel="stylesheet" href="/css/index.css"/>
</head>
<body>
  <header>
    <nav class="navbar navbar-default">
      <section class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Eventer</a>
        </div>

        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sign In | Username
              <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="">Profile</a></li>
              <li class="divider"></li>
              <li><a href="">Sign Out</a></li>
            </ul>
          </li>
        </ul>

      </section>
    </nav>
  </header>

  <section ui-view></section>

  <!-- @if NODE_ENV == 'DEVELOPMENT' -->
  <script src="/js/vendor/requirejs/require.js" data-main="/js/app/index.js"></script>
  <!-- @endif -->  <!-- @if NODE_ENV == 'PRODUCTION' -->
  <script src="/js/index.min.js"></script>
  <!-- @endif -->
</body>
</html>