<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Eventer</title>
	<link rel="stylesheet" href="/css/index.css"/>
</head>
<body>
	<h1>Eventer Environment:
		<!-- @if NODE_ENV == 'DEVELOPMENT' --> DEV<!-- @endif -->
		<!-- @if NODE_ENV == 'PRODUCTION' --> PROD<!-- @endif -->
	</h1>

	<!-- @if NODE_ENV == 'DEVELOPMENT' -->
	<script src="/js/vendor/requirejs/require.js" data-main="/js/app/index.js"></script>
	<!-- @endif -->

	<!-- @if NODE_ENV == 'PRODUCTION' -->
	<script src="/js/index.min.js"></script>
	<!-- @endif -->

	<div>
		<a href="/auth/google">Sign In with Google</a>
	</div>
</body>
</html>