<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title><!-- @if NODE_ENV == 'DEVELOPMENT' --> DEV<!-- @endif -->
		<!-- @if NODE_ENV == 'PRODUCTION' --> PROD<!-- @endif -->: Eventer</title>
	<link rel="stylesheet" href="/css/index.css"/>
</head>
<body>
	<header>
    <div>
      <a href="/auth/google">Sign In with Google</a>
      <br/><br/>
    </div>
    <form action="/signup" method="POST">
      <input type="email" name="email" placeholder="Login (email)"/>
      <input type="password" name="password" placeholder="Password"/>
      <button type="submit">Sign In</button>
    </form>
    <div><a href="/auth/signup">Need an account? Sign up!</a></div>
  </header>

  <section>
    <h1>Eventer</h1>

    <nav class="b-main-menu">
      <li><a href="/#feed">Feed</a></li>
      <li><a href="/#profile">Profile</a></li>

    </nav>
    <div ng-view></div>
  </section>

  <!-- @if NODE_ENV == 'DEVELOPMENT' -->
  <script src="/js/vendor/requirejs/require.js" data-main="/js/app/index.js"></script>
  <!-- @endif -->  <!-- @if NODE_ENV == 'PRODUCTION' -->
  <script src="/js/index.min.js"></script>
  <!-- @endif -->
</body>
</html>