<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Main page / Index</title>
	<link href="css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<header class="container">
		<nav class="navbar navbar-default">
			<ul class="nav navbar-nav">
				<li><a class="navbar-brand" href="/">Eventer</a></li>
				<li><a href="">New Event</a></li>
				<li><a href="">Find Event</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="/auth/google">Sign In with Google</a></li>
				<!--<li class="navbar-text"><a href="/profile">SublimeYe</a></li>-->
			</ul>
		</nav>
	</header>

	<section class="container">
		<div class="row">
			<div class="col-sx-12">
				<h2>Calendar</h2>
			</div>
		</div>

		<div class="row">
			<div class="col-sx-12">
				<h2>Feed</h2>
			</div>
		</div>
	</section>

	<footer>
		<div class="navbar navbar-default navbar-fixed-bottom">
			<div class="container">
				&copy; 2013 Eventer
			</div>
		</div>
	</footer>

	<!-- @if NODE_ENV == 'DEVELOPMENT' -->
	<script src="/js/vendor/requirejs/require.js" data-main="/js/app/index.js"></script>
	<!-- @endif -->

	<!-- @if NODE_ENV == 'PRODUCTION' -->
	<script src="/js/index.min.js"></script>
	<!-- @endif -->

</body>
</html>