<div class="container">
    <h1>Event: create/edit</h1>

    <form>
        <div class="row">
            <div class="form-group col-sm-6">
                <label>Event Title</label> <input class="form-control" placeholder="Event title">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-6">
                <label>Event description</label>
                <textarea class="form-control" placeholder="Event description... "></textarea>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-6">
                <label>Where</label> <input class="form-control" placeholder="Where...">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-6">
                <label>Who</label> <input class="form-control" placeholder="Invite friends...">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-6">
                <label>When</label> <input class="form-control" placeholder="When: find a time">
            </div>
        </div>
    </form>
</div>
